name: Test example models

on:
  push:
    branches:
    - mesa-2.x
    - release**
    paths:
      - 'examples/**/*.py'  # If an example model is modified
      - 'test_examples.py'  # If the test script is modified
      - '.github/workflows/test_examples.yml'  # If this workflow is modified
  pull_request:
    paths:
      - 'examples/**/*.py'
      - 'test_examples.py'
      - '.github/workflows/test_examples.yml'
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'  # Monday at 6:00 UTC

jobs:
  build-2-stable:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: pip install "mesa<3" pytest
    - name: Test with pytest
      run: pytest test_examples.py

  build-2-git:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        pip install pytest
        pip install -U git+https://github.com/projectmesa/mesa@2.3.x-maintenance#egg=mesa
    - name: Test with pytest
      run: pytest test_examples.py
